OPENAI_API_KEY=
DJANGO_SECRET_KEY=hackathon-impactmatch-secret-key-32b
DEBUG=True
GOOGLE_MAPS_API_KEY=
ALLOWED_HOSTS=localhost,127.0.0.1,impactbackend-production.up.railway.app,.up.railway.app
CORS_ALLOWED_ORIGINS=https://spiffy-gingersnap-8d4ab2.netlify.app
CSRF_TRUSTED_ORIGINS=https://spiffy-gingersnap-8d4ab2.netlify.app,https://impactbackend-production.up.railway.app
SERVE_MEDIA=True
